receivers:
  otlp:
    protocols:
      grpc:
        endpoint: 0.0.0.0:4317
      http:
        endpoint: 0.0.0.0:4318

processors:
  batch:
  memory_limiter:
    limit_mib: 512
    spike_limit_mib: 128
    check_interval: 5s
  probabilistic_sampler:
    sampling_percentage: 100

exporters:
  otlp/tempo:
    endpoint: "tempo:5680"
    tls:
      insecure: true

  prometheus:
    endpoint: "0.0.0.0:8989"

  # Use the OTLP HTTP exporter for Loki
  otlphttp/loki:
    endpoint: "http://loki:3100/loki/api/v1/push"
    tls:
      insecure: true
  debug: {}
service:
  pipelines:
    traces:
      receivers: [otlp]
      processors: [batch, probabilistic_sampler]
      exporters: [debug,otlp/tempo]

    metrics:
      receivers: [otlp]
      processors: [batch]
      exporters: [debug,prometheus]

    logs:
      receivers: [otlp]
      processors: [batch]
      exporters: [debug,otlphttp/loki]


