server:
  http_listen_port: 3200

distributor:
  receivers:
    otlp:
      protocols:
        grpc:
          endpoint: 0.0.0.0:5680
        http:
          endpoint: 0.0.0.0:5681

storage:
  trace:
    backend: local
    local:
      path: /var/tempo

compactor:
  compaction:
    block_retention: 168h
    
