server:
  http_listen_port: 3200

distributor:
  receivers:
    otlp:
      protocols:
        http:
        grpc:

storage:
  trace:
    backend: local
    local:
      path: /var/tempo

compactor:
  compaction:
    # An explicit block retention can also be set here in hours (168h = 7 days)
    block_retention: 168h
